html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans";
    font-size: 11px;
    overflow-y: scroll;
    
    background-image: url('images/background.png');
    background-repeat: no-repeat;
    background-position: 50% 0;
}



.container {
    margin: 0 auto;
    padding-top: 170px;
    width: 960px; 
}

.container .canvas-wrapper {
    background-image: url('images/checker.png');
}



form {
    margin: 20px 40px 20px 0;
    display: inline-block;
    width: 150;
    vertical-align: top;
}

form strong {
    display: block;
    padding: 5px 0;
}

form fieldset {
    margin: 0;
    padding: 5px 0;
    border: 0;
    vertical-align: top;
}

form input[type="text"],
form input[type="number"] {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 70px;
}

form label {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 70px;
}



.pull-right {
    float: right;
}