<!doctype html>
<html lang="en">
    <head>
        <title>TTT with FabricJS</title>

        <meta charset="utf-8">
        <meta content="IE=edge" http-equiv="X-UA-Compatible">
        <meta content="width=device-width, initial-scale=1" name="viewport">
        
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=latin-ext" rel="stylesheet" type="text/css" />
        <link href="index.css" rel="stylesheet" type="text/css" />
    </head>

    <body data-ng-app="ticket-templating-tool">
        
        <div class="container" data-ng-controller="fabric">
            <p>Behold, the great editor of the ticket templates:</p>
            
            <form data-ng-submit="render()" data-ng-hide="isCanvasPresent">
                <strong>Size of the ticket</strong>
                
                <fieldset>
                    <label>width</label>
                    <input type="number" data-ng-model="width" max="960" />
                </fieldset>
                
                <fieldset>
                    <label>height</label>
                    <input type="number" data-ng-model="height" max="960" />
                </fieldset>
                
                <input class="pull-right" type="submit" value="Redraw" />
            </form>
            
            <form data-ng-submit="addBox()" data-ng-show="isCanvasPresent">
                <strong>Add a box</strong>
                
                <fieldset>
                    <label>width</label>
                    <input type="number" data-ng-model="box.width" max="960" />
                </fieldset>
                
                <fieldset>
                    <label>height</label>
                    <input type="number" data-ng-model="box.height" max="960" />
                </fieldset>
                
                <input class="pull-right" type="submit" value="Render" />
            </form>
            
            <form data-ng-submit="addCat()" data-ng-show="isCanvasPresent">
                <strong>Add a cat</strong>
                
                <fieldset>
                    <label>width</label>
                    <input type="number" data-ng-model="image.width" max="960" />
                </fieldset>
                
                <fieldset>
                    <label>height</label>
                    <input type="number" data-ng-model="image.height" max="960" />
                </fieldset>
                
                <fieldset>
                    <label>Grey?</label>
                    <input type="checkbox" data-ng-model="image.isGrey" />
                </fieldset>
                
                <input class="pull-right" type="submit" value="Render" />
            </form>
            
            <form data-ng-show="selection">
                <strong>Selected position:</strong>
                
                <fieldset>
                    <label>X axis</label>
                    <input type="number" data-ng-model="selectionLeft" max="960" />
                </fieldset>
                
                <fieldset>
                    <label>Y axis</label>
                    <input type="number" data-ng-model="selectionTop" max="960" />
                </fieldset>
            </form>
            
            <form data-ng-show="isWithoutPictures && isCanvasPresent">
                <strong>Save the image:</strong>
                <p>Please note you cannot save image with cats.</p>
                <p>But only at the moment.</p>
                
                <button data-ng-click="save()">Save</button>
            </form>
            
            <div class="canvas-wrapper" style="display: none">
                <canvas id="test" width="{{ width }}" height="{{ height }}"></canvas>
            </div>
            
        </div>
    
    </body>
    
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/fabric.js/1.4.8/fabric.min.js"></script>
    
    <script src="javascript/application.js"></script>
</html>